.profile__name {
  max-width: 228px;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
  margin: 26px 0 14px;
  grid-area: name;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  justify-self: self-end;
}

@media (min-width: 920px) {
  .profile__name {
    max-width: 300px;
    margin: 0 18px 0 0;
    align-self: self-end;
    justify-self: self-start;
    font-size: 42px;
    line-height: 48px;
  }
}
