.profile {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "image"
                       "name"
                       "activity"
                       "add-button";
  position: relative;
}

@media (min-width: 920px) {
  .profile {
    grid-template-columns: min-content max-content min-content 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "image name edit-button add-button"
                          "image activity . add-button";
    position: static;
  }

}
