.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  place-items: center;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding: 42px 0px 36px;
}

@media (min-width: 660px) {
  .profile {
    flex-direction: row;
    padding: 40px 0 51px;
  }
}
