.profile__name {
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
  margin: 26px auto 14px;
  grid-area: name;
  white-space: nowrap;
  text-overflow: ellipsis;
}
